<%- include("../includes/header.ejs", {title:"Create New Resume"}); %>
    <h1>Create New Resume</h1>
        <form action="/resume/add" id="accountform">
            <select name="account_id" id="account_id" form="accountform">
                <% for(var i=0; result.length > i; i++ ) {%>
                <option value= <%=result[i].account_id%> ><%= result[i].first_name %>
                    <%= result[i].last_name %></option>
                <% } %>
            </select>
            <input type="submit" value="Submit"/>
        </form>


<%- include("../includes/footer.ejs"); %>